<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="card" style="background-image: white">
    <div class="card-category">
      <h2 class="text-center">
        Commande numéro <%= order.id %>
      </h2>
    </div>
    <h3 class="text-center"><%= pluralize(order.item_ids.count, 'produit') %></h3>
    <p class= "text-right"><span>Prix total : <%= number_to_currency order.total, unit: "€", separator: ",", format: "%n%u" %></span></p>
    <%= link_to "Voir ma commande", order_path(order), class: "btn btn-default" %>
  </div>
</div>