<% if @orders.count == 0 %>
  <h1 class="text-center">Vous n'avez effectué aucune commande.</h1>
<% else %>
  <div class='display-4'>Aperçu de vos commandes</div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Numéro de commande</th>
          <th>Date</th>
          <th>Montant</th>
          <th>Statut</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @orders %>
      </tbody>
    </table>
  </div>
<% end %>
