<h1>Mon panier</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Unit price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <%= render @order_items %>
  </tbody>
</table>
