<nav class="sidebar">
	<div class="sidebar-content">
		<a class="sidebar-brand" href="index.html">
<i class="align-middle" data-feather="box"></i>
<span class="align-middle">Ruby-T</span>
</a>

		<ul class="sidebar-nav">
			<li class="sidebar-item">
				<%= link_to "Liste des articles", administration_items_path, class: "sidebar-link" %>
			</li>
			<li class="sidebar-item">
				<%= link_to "Voir mes commandes", "#", class: "sidebar-link" %>
			</li>
		</ul>

		<div class="sidebar-bottom d-none d-lg-block">
			<div class="media">
				<div class="media-body">
					<h5 class="mb-1 text-white"><%= current_user.email %></h5>
					<div class="text-light">
						<i class="fas fa-circle text-success"></i> Online
					</div>
				</div>
			</div>
		</div>

	</div>
</nav>
