<tr>
  <td><%= order_item.item.name %></td>
  <td><%= number_to_currency order_item.item.price, unit: "€", separator: ",", delimiter: " ", format: "%n%u" %></td>
  <td><%= order_item.quantity %></td>
  <td><%= number_to_currency order_item.subtotal, unit: "€", separator: ",", delimiter: " ", format: "%n%u" %></td>
</tr>
