<div class="row">
  <%= render @items %>
</div>
<%= will_paginate @items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                          list_classes: %w(pagination justify-content-center) %>
