
<div class="card" style="background-image: white">
  <div class="card-category"><h1 class="text-center"><%= @item.name %></h1></div>
  <div class="card-description">
    <h2 class="text-center"><%= @item.description %></h2>
    <p class= "text-right"><%= number_to_currency item.price, unit: "€", separator: ",", format: "%n%u"  %></p>
  </div>
</div>
