<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3"><strong>Mes commandes à traiter ou déjà traitée.</strong></h1>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Numéro de commande</th>
                  <th>Statut de commande</th>
                  <th>Date de Commande</th>
                  <th>Prix</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%= render @orders %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                              list_classes: %w(pagination justify-content-center) %>
  </div>
</main>
